:root {
  --brown: #403d39;
  --cream: #fffcf2;
  --tan: #ccc5b9;
}

body {
  background-color: --cream;
  background-color: white;
}
.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--tan);
  width: 80%;
  max-width: 700px;
  margin: 100px auto 0;
  border-radius: 8px;
  padding: 30px;
}
h1 {
  color: var(--brown);
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.quiz {
  padding-bottom: 20px;
  width: 100%;
}
.question {
  display: flex;
  justify-content: center;
  color: var(--brown);
}
.answers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
}
.answerChoice {
  background-color: var(--cream);
  color: var(--brown);
  width: 80%;
  height: 40px;
  margin: 12px 0;
  border-radius: 8px;
  border: solid --brown 1px;
  cursor: pointer;
}
.nextContainer {
    display: flex;
    flex-direction: row-reverse;
    /* background-color: red; */
    width: 90%;
}
.next {
    background-color: var(--brown);
    color: white;
    width: 80px;
    height: 36px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    margin-top: 20px;
    /* margin-right: 40px; */
}
