body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header {
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.container {
    background-color: aqua;
    display: flex;
    width: 80%;
    height: 600px;
    justify-content: center;
    align-items: center;
}

.card_container {
    background-color: bisque;
    display: flex;
    width: 80%;
    height: 500px;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    width: 500px;
    height: 250px;
    border: solid 2px black;
    position: absolute;
}
